* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets background color for body */
body {
    background-color: #d9dcd6;
}

/* For header at the top of page */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*h1 heading tag*/
h1 {
    display: inline-block;
    font-size: 48px;
}

/* Changes the font color of the seo part of h1 */
h1 .seo {
    color: #d9dcd6;
}

/* Styles the nav group, with class "header" */
nav.header {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Styles the unordered list in the nav with class "header" */
nav.header ul {
    list-style-type: none;
}

/* Styles the list elements within the unordered list in the nav w/ class="header" */
nav.header ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Sets the color for all anchor tags */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Sets font size for all p tags */
p {
    font-size: 16px;
}

/* For the backgorund image of the people collaborating at a table (in div w/ class hero) */
div.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Styles the blocks in the main content  */
main.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}



/* Stlyes the block of each of the 3 sections within the main content */
section.specificContent {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Stlyes the image of each section within the main content */
section.specificContent img {
    max-width: 35%;
    height: auto;
}

/* Floats the 1st and 3rd image in the main content to the left */
img.float-left {
    float: left;
    margin-right: 25px;
}

/* Floats the 2nd image in the main content to the right */
img.float-right {
    float: right;
    margin-left: 25px;
}

/* Sets the margin and font size of the header (h2) within each of the 3 sections of main content */
section.specificContent h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Styles the text within each of the 3 main sections */
div.contentInfo {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

/* Styles the benefits sidebar */
aside.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    /* Add minimim width? */
    min-width: 200px;
}

/* Stlyes margin and text color of each benefit within the sidebar */
section.specificBenefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Stlyes margin and centers text on the header of each benefit within the sidebar */
section.specificBenefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Stlyes the images for each benefit within the sidebar */
section.specificBenefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Styles the footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*  Styles the header (h4) within the footer */
footer h4 {
    font-size: 20px;
}
